<div class="container">
  <div class="row col-md-8">
    <form [formGroup] = "myFormData" (ngSubmit) = "onFormSubmit()">
      <div id = "formdata">
        <div class="form-group">
            <label for="name" style="text-align: left" >Name</label>
            <input type="text" class="form-control" formControlName = "name">
            <span class="help-block" *ngIf = "myFormData.get('name').errors['isNameValid']">Not a valid name!</span>
            <span class="help-block" *ngIf = "myFormData.get('name').touched && !myFormData.get('name').valid">Please put in some value!</span>
                                              
        </div>

        <div class="form-group">
            <label for="email" style="text-align: left" >Email</label>
            <input type="email" class="form-control" formControlName = "email">
        </div>

        <div class="form-group">
            <label for="status" style="text-align: left" >Project Status</label>
           <select type="dropdown" class="form-control" formControlName = "status">
             <option value="Stable">Stable</option>
             <option value="Critical">Critical</option>
             <option value="Finished">Finished</option>
            </select>
        </div>

        <button class="btn btn-success" type="submit">Submit</button>

      </div>
    </form>
  </div>
</div>